/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgb(255, 255, 255); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body{
    height: 100%;
}

body {             /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:rgb(255, 255, 255);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.selector{
    text-align: center;
    border: 1.5px solid  rgb(241, 241, 241);
    border-radius: 10px;
    width: 170px;
    height: 170px;
    display: inline-block;
    margin-top: 20px;
}

a:link {
    text-decoration: none;
}

.marg{
    margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .marg {
      margin-left: unset;
    }
}

.selector:hover{
    background-color: rgb(241, 241, 241);
}

.txtSelector{
    text-align: center;
    color:#FF7900;
    font-size: 26px;
    font-weight: 600;
}

.btnOrange{
    border-radius: 25px;
    padding: 10px 30px;
    border: 2px solid #FF7900;
    color: #FF7900;
    font-size: 19px;
    font-weight: 600;
    background-color: #FFFFFF;
}

.btnOrange:hover{
    border: 2px solid #FF7900;
    color: #FFFFFF;
    background-color: #FF7900;
}

#seCo{
    text-transform: uppercase;
    
}

#seCo a{
    color: #FF7900;
}

.fixedBottom{
    position: relative;
    bottom: 10px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

label > input{
    visibility: hidden; 
    position: absolute; 
}

label > input + div{ 
    cursor:pointer;
    border:2px solid transparent;
}

label > input:checked + div{ 
    background-color: rgb(241, 241, 241);
}

.inputInscription{
    background-color: rgb(241, 241, 241);
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-top: 30px;
}

#verif{
    background-color: #FF7900;
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    display:none;
}

#topName{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: 700;
}

#micro{
    position: absolute;
    width: 65px;
    right: 15px;
    top: 15px;
    border: 1px solid #FF7900;
    padding: 10px;
    border-radius: 40px;
}

#datetime2{
    font-size: 50px;
    letter-spacing: -3px;
}

#datetime{
    font-size: 20px;
    text-transform: uppercase;
}

.alert{
    background-color: gray;
    color: white;
    font-size: 17px;
}

.item{
    width: 130px;
    height: 130px;
    padding: 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.item a{
    color:black;
    font-weight: 600;
}

.btnBlanc{
    border-radius: 25px;
    padding: 10px 30px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #FF7900;
    font-size: 19px;
    font-weight: 600;
}


/* FORM */

/* Import open sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

.fs-title{
  margin: 10px 0 0 0; 
  font-size: 25px;
  font-weight: bold;

}
.fs-description{
  font-size: 13px;
  margin-bottom: 15px;
  font-weight: 300;
  margin-top:5px;
}
body{
  font-family: 'Open Sans', sans-serif;
  counter-reset: step;
}

.multi-form{
  margin: 30px auto;
  text-align:center;
  position: relative;
}

.cbInscription{
    float:left;
}

.multi-form fieldset{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #FFFFFF;
}
.multi-form fieldset:not(:first-of-type){
  display: none;
}
.multi-form .action-button:hover{
  border: 0 none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #ccc;
}

.progressbar{
  overflow: hidden;
  margin-bottom: 30px;
  text-align:center;
  padding-left: 0;
}
.progressbar li{
    float: left;
    list-style-type: none;
    position: relative;
    width: 33%;
    font-size: 13px;
    text-align: center;
    z-index: 1;
}
.progressbar li:before{
  counter-increment: step;
  content: counter(step);
  background: #efefef;
  display: block;
  width: 20px;
  color: white;
  border-radius: 10px;
  margin: 0 auto 5px auto;
}

.progressbar li:after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #efefef;
  z-index: -1;
  top: 9px;
  left: -45%;
}
.progressbar li.active:before, li.active:after{
  background: #4bb4e6;
}
.progressbar li:first-child:after{
  display: none;
}



.containercb {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containercb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #FF7900;
  }
  
  /* On mouse-over, add a grey background color */
  .containercb:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containercb input:checked ~ .checkmark {
    background-color: #FF7900;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containercb input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containercb .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }





/* CHAT */



.padding {
  padding: 20px;
}

.clearfix {
  display: table;
  overflow: hidden;
}
.clearfix:before {
  content: " ";
  display: block;
}

.font-size-small {
  font-size: 0.65em;
}

.chat-wrapper {
  width: 100%;
  overflow: hidden;
  height: 370px;
  max-height: 370px;
}
.chat-wrapper:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-content {
  background-color: #fff;
}
.chat-wrapper .chat-image {
  float: left;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.chat-wrapper .chat-image.chat-image-default {
  width: 60px;
  height: 60px;
}
.chat-wrapper .chat-message {
  margin-bottom: 20px;
  width: 100%;
  display: table;
  overflow: hidden;
}
.chat-wrapper .chat-message:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-message:last-of-type {
  margin-bottom: 0;
}
.chat-wrapper .chat-message .chat-message-wrapper {
  max-width: 70%;
  display: table;
  margin: 0 20px;
  padding-top: 10px;
  position: relative;
}
.chat-wrapper .chat-message .chat-message-wrapper:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  top: 20px;
  position: absolute;
  z-index: 2;
}
.chat-wrapper .chat-message .chat-message-wrapper p {
  padding: 10px 20px;
  color: #fff;
  border-top: 1px solid;
}
.chat-wrapper .chat-message .chat-message-wrapper p:first-of-type {
  border-top: 0 !important;
}
.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-recipient .chat-message-content {
  float: left;
}
.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper:before {
  left: -20px;
  border-right-color: #595959;
}
.chat-wrapper .chat-message.chat-message-recipient p {
  background-color: #595959;
  border-top-color: #595959;
}
.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-sender .chat-message-content {
  float: right;
}
.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper:before {
  right: -20px;
  border-left-color: rgb(241, 241, 241);
}
.chat-wrapper .chat-message.chat-message-sender p {
  background: rgb(241, 241, 241);
  border-top-color: rgb(241, 241, 241);
}
.chat-wrapper .chat-message.chat-message-sender img {
  float: right;
}
.chat-wrapper .chat-message .chat-message-content {
  display: table;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 10px;
}

.chat-wrapper .chat-message-sender .chat-message-wrapper p{
    color:black;
}

.chat-message-content p{
    border-radius: 10px;
}

.chat-wrapper .chat-message .chat-message-content:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-message .chat-details {
  clear: both;
  width: 100%;
  display: table;
  overflow: hidden;
}
.chat-wrapper .chat-message .chat-details:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-message .chat-details span {
  margin-right: 4px;
  color: #bbb;
}

#chat1{
    position: fixed;
    width: 100%;
    height: 260px;
    background-color: #595959;
    bottom: 0;
    text-align: center;
}

#chat1 .item{ 
    margin-left: 10px;
}

#chat1head{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
}

.itemImg{
    width: 40px;
}

.itemTxt{
    font-size: 13px;
    font-weight: 600;
    position: relative;
    left: -10px;
    bottom: -10px;
    width: 80px;
}

.orange{
    font-weight: 700;
    color:#FF7900;
    position:relative;
    top:17px;

}

#chattxt{
    width: 85%;
    margin: 0 auto;
    background: rgb(241, 241, 241);
    height: 35px;
    position: fixed;
    left: 2.5%;
    bottom: 5px;
    border-radius: 5px;
    color:black;
}
