/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgb(255, 255, 255); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body{
    height: 100%;
}

body {             /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:rgb(255, 255, 255);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.selector{
    text-align: center;
    border: 1.5px solid  rgb(241, 241, 241);
    border-radius: 10px;
    width: 170px;
    height: 170px;
    display: inline-block;
    margin-top: 20px;
}

a:link {
    text-decoration: none;
}

.marg{
    margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .marg {
      margin-left: unset;
    }
}

.selector:hover{
    background-color: rgb(241, 241, 241);
}

.txtSelector{
    text-align: center;
    color:#FF7900;
    font-size: 26px;
    font-weight: 600;
}

.btnOrange{
    border-radius: 25px;
    padding: 10px 30px;
    border: 2px solid #FF7900;
    color: #FF7900;
    font-size: 19px;
    font-weight: 600;
}

.btnOrange:hover{
    border: 2px solid #FF7900;
    color: #FFFFFF;
    background-color: #FF7900;
}

#seCo{
    text-transform: uppercase;
    
}

#seCo a{
    color: #FF7900;
}

.fixedBottom{
    position: relative;
    bottom: 10px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

label > input{
    visibility: hidden; 
    position: absolute; 
}

label > input + div{ 
    cursor:pointer;
    border:2px solid transparent;
}

label > input:checked + div{ 
    background-color: rgb(241, 241, 241);
}

.inputInscription{
    background-color: rgb(241, 241, 241);
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

#verif{
    background-color: #FF7900;
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    display:none;
}

#topName{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: 700;
}

#micro{
    position: absolute;
    width: 65px;
    right: 15px;
    top: 15px;
    border: 1px solid #FF7900;
    padding: 10px;
    border-radius: 40px;
}

#datetime2{
    font-size: 50px;
    letter-spacing: -3px;
}

#datetime{
    font-size: 20px;
    text-transform: uppercase;
}

.alert{
    background-color: gray;
    color: white;
    font-size: 17px;
}

.item{
    width: 130px;
    height: 130px;
    padding: 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.item a{
    color:black;
    font-weight: 600;
}